.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    margin-left: 33vw;
    flex: 1;
}

.sidebar {
    --left-column-min-width: 16rem;
    --left-column-max-width: 26.5rem;
    width: 33vw;
    min-width: var(--left-column-min-width);
    max-width: var(--left-column-max-width);
    height: 100vh;
    overflow: hidden;
    position: fixed;
    background-color: #2d2d2d;

}
@media (min-width: 1272px){
    main {
        margin-left: 26.5rem;
    }
}

@media (max-width: 925px) {
    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        width: 20rem;
    }

    main {
        margin-left: 20rem;
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }