.navbar-toggler {
    display: none;
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked {
    background-color: rgba(255, 255, 255, 0.5);
}


.navbar-brand {
    font-size: 1.1rem;
}



.nav-scrollable {
    display: block;
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
    background-color: rgb(33, 33, 33) 
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

.main-header-wrapper {
    border-bottom: 1px solid #121212;
}

.main-header {
    position: relative;
    height: 3.5rem;
    padding: .375rem .8125rem .5rem .8125rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    background-color: rgb(33,33,33);
}

.main-header::before {
    box-sizing: border-box
}

.main-header::after {
    box-sizing: border-box
}

.nav-scrollable::-webkit-scrollbar {
    width: 2px;
    background-color: rgb(33,33,33);
}

.nav-scrollable::-webkit-scrollbar-track {
    background: #2d2d2d;
}

.nav-scrollable:hover::-webkit-scrollbar-thumb {
    transition: width 0.3s ease;
}

.nav-scrollable:hover::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.37);
    border-radius: 10px;
}

.nav-scrollable:hover::-webkit-scrollbar {
    width: 2px;
}

