<h3>AuthorizeViewDemo</h3>

<AuthorizeView Roles="" Policy="">
    <Authorized>
        <p>Authorized</p>
    </Authorized>

    <NotAuthorized>
        <p>Not Authorized</p>
    </NotAuthorized>

    <Authorized>
        <p>Authorized</p>
    </Authorized>

</AuthorizeView>


@code {

}
